@page
@model AMST4.Store.Shoes.Views.Color.Color
@{
    ViewData["Title"] = "Color";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form class = "form-inline">

    <div class="form-group mx-sm-3mb-3">
        <label for="inputPassword2" class="sr-only">Descrição da cor</label>
        <input type ="text" class="form-control" id="inputPassword2" placeholder ="Descrição da cor">
    </div>
<button type ="submit" class="btn btn-primary mb-2">Adicionar Cor</button>
</form>
</div>